<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valuecommerce.adpresso.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".AdlantisSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- This activity is needed to support interstitial ad behavior. -->
        <activity
            android:name="com.adpresso.android.AdpressoInterstitialAdActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <!-- Uncomment line below and replace 'xxx' with Publisher ID assigned from sp.www.adlantis.jp -->
        <meta-data android:name="Adlantis_Publisher_ID" android:value="Mjc3NzI%3D%0A" />

        <activity
            android:name="com.valuecommerce.adpresso.sample.IconAdActivity"
            android:label="@string/title_activity_icon_ad"
            android:configChanges="orientation" >
        </activity>
        <activity
            android:name="com.valuecommerce.adpresso.sample.BannerAdsActivity"
            android:label="@string/title_activity_banner_ads" >
        </activity>
    </application>

</manifest>